# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Node
node_modules
client/node_modules
server/node_modules

# Build
dist
dist-ssr
*.local

# Env
.env
server/.env

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
